<div class= "panel panel-primary">
        <div class="panel-heading"></div><h1>New Pin</h1>
        <div class="panel-body">
<%= render 'form' %>

<%= link_to 'Show',@pin %>
<%= link_to 'Back', pins_path %>
