<div class='jumbotron center'>
    <div style="text-align: center">
<h1>Hey there welcome to my new app!</h1>
<p>Please stay tune while the app is under development. This is going to be <strong> greeeat! </strong> </p>
<%= link_to 'About Us', home_about_path, class: 'btn btn-primary' %>
 <%= link_to 'Home', root_path, class: 'btn btn-warning' %>
    </div>
</div>
